:root {
    --primary-color: #fff;
    --dark-color: #141414;
}
* {
   box-sizing: border-box;
   margin:0;
   padding: 0; 
   overflow-x: hidden;
   
}
body {
    font-family: 'Arial, sans-serif' ;
    -webkit-font-smoothing: antialiased;
    -webkit-text-stroke: 0.45px;
    background: #000;
    color:#999;
    
}

ul {
    list-style: none;
}

h1, h2, h3, h4 {
    color: white;
}

a {
    color: white;
    text-decoration: none;
}
p {
  margin:0.5rem 0;   
}

img {
    width: 100%;
}

nav {
    display: flex;
    justify-content: space-around;
    align-items: center;
    min-height: 8vh;
    background-color: #5d4954ac;
    font-family: 'Montserrat', sans-serif;
    -webkit-font-smoothing: antialiased;
}
nav img {
    width: 300px;
    position: absolute;
    top: 2.5rem;
    left:14rem;
    
    transform: translate(-50%, -50%);
}
.showcase-content p.about {
    margin-top: 17rem;
    font-size: 20px;
}
.navlinks a{
    color:  whitesmoke !important;
    text-decoration: none;
    letter-spacing: 8px;
    font-weight: bold;
    font-size: 16px;
   
}
.loginlink {
    display: none;
}

.navlinks li{
    list-style: none;
   

   
}
.burger div{
    width: 35px;
    height: 5px;
    background-color: whitesmoke;
    margin: 5px;
    transition: all 0.3s ease; 
}
.burger{
    display: none;
    cursor: pointer;
}
.showcase {
    width: 100%;
    height: 93vh;
    position: relative;
    background: url('../livingroom.jpg') no-repeat center center/cover;
    overflow-y: hidden;
}
.showcase::after {
    content:'';
    position:absolute;
    top: 0;
    left:0;
    width: 100%;
    height:100%;
    z-index: 1;
    background: rgba(0,0,0,0.2);
    box-shadow: inset 80px 80px 100px #000000, inset -80px -80px 100px #000000;
    z-index: -1;
}
.showcase-content{
    position: relative;
    z-index: 2;
    margin:auto;
    width: 65%;
    display:flex;
    flex-direction: column;
    justify-content: center;
    align-items:center;
    text-align:center;
    margin-top:9rem;
}
.showcase-content h1{
    font-weight: 700;
    font-size: 5.2rem;
    line-height:1.1;
    margin: 0 0 0rem;
    text-shadow: 2px 2px black
}
.showcase-content p {
    text-transform: uppercase;
    color: #fff;
    font-weight: 400;
    font-size: 31px;
    line-height: 1.25;
    margin: 0 0 2rem;
    text-shadow: 2px 2px black
}
     /* TABS */
.tabs {
    background: var(--dark-color);
    padding-top:1rem;
    border-bottom: 3px solid #3d3d3d;
    border-right: none;
    
}
.tabs .container   {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 1rem;
    align-items: center;
    justify-content: center;
    text-align: center;
}

.tabs p {
    font-size: 1.2rem;
    padding-top:0.5rem;
}
.tabs .container > div {
    padding:1.5rem 0;
}
.tabs .container > div:hover {
    color: white;
    cursor: pointer;
}
.tab-border {
    border-bottom: var(--primary-color) 4px solid;
}
/* Tab Content */
.tab-content {
    padding: 3rem 0;
    background: #000;
    color: #fff; 
}
#tab-1-content .tab-1-content-inner {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 2rem;
    align-items: center;
    justify-content: center;
}
#tab-2-content .tab-2-content-top {
    display: grid;
    grid-template-columns: 2fr 1fr;
    grid-gap: 1rem;
    justify-content: center;
    align-items: center;
}
#tab-2-content .tab-2-content-bottom {
    margin-top: 2rem;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 2rem;
    text-align: center;
}
/* Hide Content initially */
#tab-1-content,
#tab-2-content,
#tab-3-content {
    display: none;
}
.tab-item i {
   color: #ffb4ac;
   
}
.show {
	display: block !important;
	opacity: 1 !important;
	transition: all 1000 ease-in;
}

.table {
   width:100%;
   margin-top:2rem; 
   border-collapse: collapse;
   border-spacing: 0;
   overflow: scroll;
}
.table thead th {
    text-transform: uppercase;
    padding: 0.8rem;
}
.table tbody  {
    display: table-row-group;
	vertical-align: middle;
	border-color: inherit;
}
.table tbody tr td {
    color:#999;
    padding: 0.8rem 1.2rem;
    text-align: center;
}
.table tbody tr td:first-child {
    text-align: left;
}
.table tbody tr:nth-child(odd) {
    background: #222;
} 
/*  FOOTER  */
.footer {
    background-color: #6cb6a4ee ;
    -webkit-font-smoothing: antialiased;
    max-width: 100%;
    margin: 1rem auto;
    overflow:auto;
    
}
.footer, .footer a {
    color: black;
    font-size: 1rem;
    
}
.footer p {
    margin-bottom: .9rem;
    margin-left: 2rem; 
   
}
.footer .footer-cols {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-gap: 1rem;
    margin-left: 2rem;
    margin-bottom: 10px;
}
.footer li{
    line-height: 1.9rem;
}
/* CONTAINER*/
.container {
    max-width: 70%;
    margin: auto;
    overflow: hidden;
    padding: 0 2rem;
}
.text-xl {
    font-size: 2rem;
    margin-bottom: 1rem;
    
}
.text-lg {
    font-size: 1.8rem;
    margin-bottom: 1rem;
    
}

.text-md {
    font-size: 1.5rem;
    margin-bottom: 1rem;
    
}
.text-center {
    text-align: center;
}
.text-dark {
  color: #999;  
}

     /* BUTTONS */
.btn {
    display:inline-block;
    background: #6cb6a4ee;
    color: black;
    padding: 0.2rem    1.3rem;
    font-size: center;
    text-align: center;
    border: none;
    cursor: pointer;
    margin-right: 0.5;
    outline: none;
    box-shadow: 0 1px 0 rbga(0,0,0, 0.45);
    border-radius: 50px;
    

}

.btn:hover{
    opacity: 0.9;

}
.btn-rounded {
    border-radius: 5px;

}
a.btn.btn-xl{
    display: flex;
    justify-content: center;
    justify-content: space-between;
    padding-right: 10px;
    
}
.btn-xl {
    font-size: 1.5rem;
    padding: 1.4rem 2rem;
    text-transform: uppercase;
}


.btn-lg {
    font-size: 1rem;
    padding:0.8rem 1.3rem;
    text-transform: uppercase;
    
}
.btn-icon {
    margin-left: 1.3rem;
    margin-right: 10px;
    padding-top: 2px
    

}
.btn-tab-1-inner{
    margin-left: 7.5rem;
}

.btn-login{
    background-color: #ffb4ac;
    font-size: 1.4rem;
    color: black;
    
}

@media (max-width: 960px) {
    
.showcase {
    height: 70vh;
}

.hide-sm {
    display: none;
}

.nav img {
    width: 200px;
    position: absolute;
    top: 2rem;
    left:8rem;
    
    transform: translate(-50%, -50%);
}
.showcase-content h1 {
    font-size: 3.7rem;
    line-height: 1;
}

.showcase-content p {
    font-size: 1.5rem;
}

.footer .footer-cols {
    grid-template-columns: repeat(2, 1fr);
}

.btn-xl {
    font-size: 1.5rem;
    padding: 1.4rem 2rem;
    text-transform: uppercase;
}

.text-xl {
    font-size: 1.5rem;
}

.text-lg {
    font-size: 1.3rem;
    margin-bottom: 1rem;
}

.text-md {
    margin-bottom: 1rem;
    font-size: 1.2rem;
}
}

@media (max-width: 768px) {

body {
  overflow-x: hidden;
 
  
}
.showcase::after {
    background: rgba(0, 0, 0, 0.2);
    box-shadow: inset 80px 80px 100px #000000, inset -80px -80px 100px #000000;
    
}
.showcase-content p.about {
    margin-top: 9rem;
    font-size: .7rem;
}


nav {
    display: flex;
    justify-content: space-around;
    align-items: center;
    min-height: 8.5vh;
    background-color: #5d4954;
    font-family: 'Poppins', sans-serif ;
    -webkit-font-smoothing: antialiased;
    overflow-x: hidden;
    z-index: +3;
    
    
}
.showcase-content{
    margin-top:4rem;
}
.showcase-content h1 {
    font-size: 2.7rem;
    line-height: 1;
    
    
}
.showcase-top img {
    width: 200px;
    position: absolute;
   
}

.showcase-content p {
    font-size:14px;
    margin-bottom:2.5rem;
}

#tab-1-content .tab-1-content-inner {
    grid-template-columns: 1fr;
    text-align: center;
}

#tab-2-content .tab-2-content-top {
    display: block;
    text-align: center;
}

#tab-2-content .tab-2-content-bottom {
    margin-top: 2rem;
    display: grid;
    grid-template-columns: 1fr;
    grid-gap: 2rem;
    text-align: center;
}

nav img {
    width: 200px;
    position: absolute;
    top: 2.2rem;
    left:7.5rem;
    transform: translate(-50%, -50%);
}


.btn-xl {
    font-size: 10px;
    padding: 1.2rem 1.6rem;
    text-transform: uppercase;
}
.btn-tab-1-inner{
    margin-left: 0;
}
.btn-login{
    display: none;
}
}


/* NAVIGATION*/

* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box; 
    z-index: +2;
    
    
}
body {
    background: black;
    -webkit-font-smoothing: antialiased;
    overflow-x: hidden;

    
}
 nav {
    display: flex;
    justify-content: space-around;
    align-items: center;
    min-height: 9vh;
    background-color: #5d4954;
    font-family: 'Poppins', sans-serif ;
    -webkit-font-smoothing: antialiased;
    z-index: +2;
    overflow-x: hidden;
    
}

.navlinks{
    display: flex;
    justify-content: space-around;
    width:40%;
    margin-left: 45rem;
    z-index: 3;
    font-family: 'Montserrat', sans-serif;
}
.navlinks a{
    color: #6cb6a4;
    font-family: 'Montserrat', sans-serif;
    text-decoration: none;
    letter-spacing: 5px;
    font-weight: bold;
    font-size: 16px;
    text-shadow: 2px 2px black
   
}
.navlinks li{
    list-style: none;
    
}
.burger{
    display: none;
    cursor: pointer;

}
.burger div{
    width: 25px;
    height: 3px;
    background-color: whitesmoke;
    margin: 5px;
    transition: all 0.3s ease; 
}

@media screen and (max-width:768px){
    
    nav {
        background-color: #5d4954;
        overflow-x: hidden;
      
    }
    .navlinks{
        position: absolute;
        right: 0px;
        height: 109%;
        top: 8vh;
        background-color: #5d4954;
        display: flex;
        flex-direction: column;
        align-items: center;
        width:30%;
        transform: translateX(100%);
        transition: transform 0.5s ease-in;
        text-shadow: 2px 2px black;
        z-index: 3;
        
       
    }
    .loginlink {
        display: block;
    }
    
    .navlinks li{
        opacity: 0;
    }
    .burger{
        position:absolute;
        display: block;
        top: 20px;
        right: 2rem;
    }
    
}
    .nav-active{
    transform: translateX(0%);
}

@keyframes navLinkFade{
    from{
        opacity: 0;
        transform: translateX(50px);
    }
    to{
        opacity: 1;
        transform: translateX(0px);
    }
}
.toggle .line1 {
    transform: rotate(-45deg) translate(-5px, 6px);
}

.toggle .line2{
    opacity: 0;
}
.toggle .line3{
    transform: rotate(45deg) translate(-5px, -6px);
}







